<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test-KG</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" href="data:,">

</head>

<body>

<div th:insert="navbar :: navbar"></div>
<div class="container" style="max-width: fit-content; margin: 5em auto;">
    <div class="my_page">
        <img th:src="${test.mainPhoto.getURL()}"
             align="right" width="300px" class="testPic">
        <div>
            <h2 th:text="${test.title}"></h2>
            <p><strong>Description: </strong><span th:text="${test.description}"></span></p>
        </div>

        <div class="col-8 m-3" th:each="ques, i: ${questions}">
            <div class="m-2"><strong>Question: </strong>
                <span th:text="${ques.question}"></span>
            </div>
            <div class="radio" th:each="option,i: ${ques.questionOptions}">
                <label>
                    <input type="radio" name="optionsRadios" id="" value="1" th:text="*{option.optionText}">
                </label>
            </div>
        </div>

        <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            Add new Question
        </a>
        <div class="collapse" id="collapseExample">
            <div class="form-group mt-3">
                <form th:action="@{/newQuestion}" th:object="${question}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="quest" th:field="*{question}"
                                   placeholder="Введите вопрос..."/>
                            <input type="number" class="form-control" id="mark" th:field="*{mark}"
                                   placeholder="Количество баллов за вопрос..."/>
                        </div>
                    </div>
                    <div class="container col-10">
                        <table id="myTable" class=" table order-list">
                            <tbody>
                            <tr>
                                <td class="col-sm-10">
                                    <input type="text" th:field="*{correctOption}"
                                           class="form-control" placeholder="Введите правильный ответ..."/>
                                </td>
                                </td>
                                <td class="col-sm-2"><a class="deleteRow"></a>
                                </td>
                            </tr>
                            <td class="col-sm-10">
                                <input type="text" th:field="*{questionOptions[__${0}__].optionText}"
                                       class="form-control" placeholder="Введите вариант..."/>
                            </td>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row"/>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <input type="hidden" name="test" th:value="${test.id}">
                    <button type="submit" class="btn btn-dark">Add</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="/js/addOptionDynamic.js"></script>
</body>
</html>